<h1>Newsletter logs</h1>
<table width="100%">
  <tr>
    <th align="left">Date</th>
    <th align="left">Type</th>
    <th align="left">Message</th>
  </tr>
  <% @logs.each do |log| -%>
    <tr>      
      <td><%= log.created_at.strftime("%I:%M <small>%p</small> on %B %d, %Y") if log.created_at %></td>
      <td><%= log.message_type %></td>
      <td><%=h log.message %></td>
    </tr>
  <% end -%>
</table>